div.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button {
  form.open {
    text-align: left;
    background: white;
    color: black;
  }
  a {
    height: 0;
  }
}
