/* 1.farbe: #C73E9D, 199, 62, 157
2. farbe: #0A1D30, 10, 29, 48
3.farbe: #EBCBE5, 235, 203, 229
4.farbe: #145191, 20, 81, 145
5.farbe: #276FC1, 39, 111, 193
6.farbe: #632B5D, 99, 43, 93
7.farbe: #5C9BE5, 92, 155, 229
8.farbe: #103965, 16, 57, 101
9.farbe: #465D70, 70, 93, 112
10.farbe: #293C52, 41, 60, 82 */

farbtest {
  color: #632b5df6";
}
farbe1 {
  color: #c73e9d;
}
farbe2 {
  color: #0a1d30;
}
farbe3 {
  color: #ebcbe5;
}
farbe4 {
  color: #145191;
}
farbe5 {
  color: #276fc1;
}
farbe6 {
  color: #632b5d;
}
farbe7 {
  color: #5c9be5;
}
farbe8 {
  color: #103965;
}
farbe9 {
  color: #465d70;
}
farbe10 {
  color: #293c52;
}
